body {
    background-color: rgb(177, 177, 177);
    font-family: "Nunito";
    height: 100%;
}

.nav-link {
    font-size: xx-large;
    font-weight: 600;
    color: black;
}

.nav-link:hover {
    color: rgb(204, 255, 0);
}

.text {
    text-align: center;
}

a {
    text-decoration: none;
}

svg:hover {
    fill: rgb(204, 255, 0);
}

h2 {
    font-family: "Nunito";
    font-weight: 500;
    color: black;
}

.content {
    font-weight: 600;
}

.btn {
    background-color: rgb(204, 255, 0);
    color: black;
    font-weight: 600;
}
